.example-card {
    margin-left: 7%;
    margin-top: 2%;
    width: 20%;
    border-radius: 3%;
    float: left;
  }

  /*@media screen and (max-width: 600px) {
    .example-card{
      //text-align: center;
      float: none;
      width: 75%;
    }
  }*/