  <mat-card class="example-card">
        <mat-card-content>
            <a routerLink="/hoteles"><img mat-card-image src="/assets/newyork.png" alt="Ciudad de nueva york"></a>
        </mat-card-content>
        <mat-card-title style="text-align: center;" >New York</mat-card-title>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-content>
            <a routerLink="/hoteles"><img mat-card-image src="/assets/newyork.png" alt="Ciudad de nueva york"></a>
        </mat-card-content>
        <mat-card-title style="text-align: center;" >New York</mat-card-title>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-content>
            <a routerLink="/hoteles"><img mat-card-image src="/assets/newyork.png" alt="Ciudad de nueva york"></a>
        </mat-card-content>
        <mat-card-title style="text-align: center;" >New York</mat-card-title>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-content>
            <a routerLink="/hoteles"><img mat-card-image src="/assets/newyork.png" alt="Ciudad de nueva york"></a>
        </mat-card-content>
        <mat-card-title style="text-align: center;" >New York</mat-card-title>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-content>
            <a routerLink="/hoteles"><img mat-card-image src="/assets/newyork.png" alt="Ciudad de nueva york"></a>
        </mat-card-content>
        <mat-card-title style="text-align: center;" >New York</mat-card-title>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-content>
            <a routerLink="/hoteles"><img mat-card-image src="/assets/newyork.png" alt="Ciudad de nueva york"></a>
        </mat-card-content>
        <mat-card-title style="text-align: center;" >New York</mat-card-title>
      </mat-card>
